version: '2'

services:
  app:
    build: ./app
    environment:
      - CONTAINER_NAME=auto
    depends_on:
      - redis
    restart: unless-stopped
    networks:
      - backend

  redis:
    image: redis:7-alpine
    container_name: mood-redis
    restart: unless-stopped
    networks:
      - backend

  nginx:
    image: nginx:alpine
    container_name: mood-nginx
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app
    restart: unless-stopped
    networks:
      - frontend
      - backend

networks:
  frontend:
    driver: bridge

  backend:
    driver: bridge
    internal: true