version: '2'

services:
  app:
    build: ./app
    environment:
      - CONTAINER_NAME=auto
    depends_on:
      - redis
    restart: unless-stopped
    networks:
      - backend

  redis:
    image: redis:7-alpine
    container_name: mood-redis
    restart: unless-stopped
    networks:
      - backend

  nginx:
    image: nginx:alpine
    container_name: mood-nginx
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app
    restart: unless-stopped
    networks:
      - frontend
      - backend

  nginx-exporter:
    image: nginx/nginx-prometheus-exporter
    command:
      - -nginx.scrape-uri=http://mood-nginx:8080/nginx_status
    ports:
      - "9113:9113"

  redis-exporter:
    image: oliver006/redis_exporter
    environment:
      REDIS_ADDR: redis:6379
    ports:
      - "9121:9121"

  prometheus:
    image: prom/prometheus
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_PASSWORD: admin
    depends_on:
      - prometheus



networks:
  frontend:
    driver: bridge

  backend:
    driver: bridge
    internal: true