version: "3.9"

services:
  app:
    build: .
    container_name: mood-app
    ports:
      - "8080:5000"
    depends_on:
      - redis
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: mood-redis
    restart: unless-stopped